.signUpHeader > h1{
	text-align: center;
	font-family: Helvetica;
}

.login, .signUpWithFB, .signUpBtn{
	text-align: center;
	font-family: Helvetica;
}

.login > button{
	font-weight: bold;
}

.signUpBtn > button > span, .signUpWithFB > button > span{
	float: left;
}

.userSignUpDetails > label, input{
	font-family: Helvetica;	
}

.signUpBtn > button, .signUpWithFB > button{
	width: 100%;
	font-weight: bold;
	border-radius: 0px;
	margin-top: 10px;
}

.errorMsg{
	text-align: center;
}

.errorMsg > p{
	font-family: Helvetica;	
	color: red;
}
