<div class="login">
    <h1>
        <span><i class="fa fa-sign-in fa-fw"></i>Login</span>
        
    </h1>
    <div>&nbsp;</div>
    <p class="signUp"> 
    	Don't have an account? 
        <button class="btn btn-warning" ng-click="openSignUpDialog();"><span class="fa fa-pencil-square-o"></span>&nbsp;Sign-Up</button>
    </p> 
    
    <form class="userLoginDetails">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                    <input ng-model="User.email" class="form-control" type="email" id="userEmail" required placeholder="Email Address">
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                     <input ng-model="User.password" class="form-control" type="password" id="userPwd" required placeholder="Password">
                </div>
            </div>
        </div>
        <div class="loginBtn">
            <button class="btn btn-warning" ng-click="loginUsingEmail(User);">
                <span class="fa fa-sign-in fa-2x"></span>&nbsp;Login
            </button>
        </div>
    </form>
    <div class="loginWithFB">
        <button class="btn btn-primary" ng-click="loginWithFacebook();">
            <span class="fa fa-facebook-square fa-2x"></span>&nbsp;Connect With Facebook
        </button>
    </div>
</div>
